Dictionary/xml/
node_modules/
.firefox-profile/
/dist/server/
www/js/*.build.js
www/css/*.build.css
/cypress/screenshots/
/cypress/videos/
/dist/extension
/dist/*.zip
/dist/*.tar.gz
/dist/extension-prod
/dist/extension-review
/dist/extension-review.*
/dist/production/server.env
/dist/production/ssh_key
/dist/production/ssh_key.pub
/dist/nginx/production.crt
/dist/nginx/production.key
