Dictionary/xml/
node_modules/
dist/extension/manifest.json
dist/extension/*.build.js
dist/extension/*.build.css
.firefox-profile/
/dist/server/
www/js/*.build.js
www/css/*.build.css
/cypress/screenshots/
/cypress/videos/
/production/server.env
/production/ssh_key
/production/ssh_key.pub
