Dictionary/xml/
node_modules/
extension/manifest.json
extension/*.build.js
extension/*.build.css
firefox-profile/
/server/
www/js/*.build.js
www/css/*.build.css
/cypress/screenshots/
/cypress/videos/
/production/kanjimi-server.env
/production/ssh_key
/production/ssh_key.pub
