KANJIMI_DATABASE_HOST=database
KANJIMI_DATABASE_PORT=5432
KANJIMI_DATABASE_DATABASE=test
KANJIMI_DATABASE_USER=test
KANJIMI_DATABASE_PASSWORD=test
KANJIMI_SMTP_HOST=smtp
KANJIMI_SMTP_PORT=25
KANJIMI_SMTP_SECURE=false
KANJIMI_API_URL=https://www.kanjimi.com/api
KANJIMI_WWW_URL=https://www.kanjimi.com
