header {
	background: url(../img/banner.svg) center / cover no-repeat;
	background: linear-gradient(120deg, var(--gray) 60vw, transparent 0%);
}

.sticky-bottom {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	z-index: 3;
}

.container h2 + hr {
	width: 10%;
}

.container .max-vw-50 {
	max-width: 50vw;
}

.kanjimi-sentence {
	font-size: 1.5em;
}

.kanjimi-token {
	position: relative;
	display: inline-block;
	line-height: 100%;
}
.kanjimi-token.selected {
	border: 2px dashed var(--red);
}

.kanjimi-furigana {
	font-size: 0.5em;
	display: block;
	line-height: 100%;
	margin: 0;
	text-align: center;
	white-space: nowrap;
}

.kanjimi-word {
	line-height: 1em;
	display: block;
	text-align: center;
	white-space: nowrap;
	margin: 0 0 0.1em 0;
}

.kanjimi-translation {
	font-size: 0.5em;
	display: block;
	line-height: 100%;
	margin: 0px;
	text-align: center;
	white-space: nowrap;
}

.kanjimi-tooltip {
	background: #eae4ce;
	z-index: 2;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
	padding: 5px;
	margin-right: 5rem;
	margin-top: -1rem;
	position: relative;
	height: 15rem;
}

.kanjimi-tooltip-content {
	overflow-y: auto;
	width: 100%;
	height: 100%;
	display: block;
}

.kanjimi-tooltip-tip {
	background: #eae4ce;
	z-index: 1;
	transform-origin: center;
	transform: rotate(45deg);
	border: 1px solid black;
	width: 1rem;
	height: 1rem;
	position: absolute;
	margin-top: -1.4rem;
	left: 6.35rem;
}

.kanjimi-readings {
	display: block;
	margin: 0;
	padding-left: 0;
}

.kanjimi-readings > li {
	list-style-type: none;
	display: flex;
	margin-bottom: 0.5rem;
}

.kanjimi-readings > li > .token {
	float: left;
}

.kanjimi-reading-translations {
	display: inline-block;
	padding-left: 0.5rem;
	margin-left: 0.5rem;
	border-left: 2px solid #AAA;
	flex-grow: 1;
}

.kanjimi-reading-translation {
	display: flex;
}

.kanjimi-reading-translation-flag {
	float: left;
}

.kanjimi-reading-translation ol {
	flex-grow: 1;
	margin-left: 0.5rem;
	padding: 0;
}

.kanjimi-reading-translation ol li {
	list-style-type: decimal;
	list-style-position: inside;
	display: list-item;
}

.kanjimi-token .kanjimi-fake-cursor {
	position: absolute;
	left: 50%;
	bottom: -0.75em;
}

.kanjimi-token .kanjimi-fake-cursor::after {
	content: "";
	animation: 2s ease infinite fake-cursor-click;
	display: block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid var(--red);
	transform-origin: center center;
	left: -0.9em;
	top: -0.9em;
	width: 2em;
	height: 2em;
}

@keyframes fake-cursor-click {
	0% {
		transform: scale(0, 0);
	}

	79.99% {
		transform: scale(0, 0);
	}

	80% {
		transform: scale(0.5, 0.5);
	}

	100% {
		transform: scale(1, 1);
	}
}

.kanjimi-token .fake-cursor-toggle {
	animation: 4s linear infinite fake-cursor-toggle;
	color: var(--dark);
	background-color: var(--dark);
}

@keyframes fake-cursor-toggle {
	0% {
		background-color: var(--dark);
	}

	39.999% {
		background-color: var(--dark);
	}
	40% {
		background-color: var(--light);
	}

	89.999% {
		background-color: var(--light);
	}
	90% {
		background-color: var(--dark);
	}
}
