:root {
	/* https://coolors.co/ffc857-393e41-fffbe3-fff8e8-064789 */
	--primary: #FFC857;
	--primary-50: rgba(255, 200, 87, 0.8);
	--secondary: #064789;
	--black: #1d1905;
	--dark: #393E41;
	--white: #FFFCF5;
	--white-50: rgba(255, 252, 245, 0.8);
	--light: #FFF8E8;
	--light-50: rgba(255, 248, 232, 0.8);

	--fuji-sky: #75c6d7;
	--fuji-sun: #ee6161;
}

.btn-primary {
	color: var(--white);
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-primary:hover {
	color: var(--light);
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.text-primary {
	color: var(--primary) !important;
}
.text-muted {
	color: var(--dark) !important;
	opacity: 70%;
}
.figure-caption {
	color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link {
	color: var(--white);
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--secondary);
}
.navbar-dark .navbar-nav .nav-link.active {
	color: var(--primary);
}

.bg-dark {
    background-color: var(--dark) !important;
}
.bg-white {
    background-color: var(--white) !important;
}
.bg-light {
    background-color: var(--light) !important;
}

.display-5 {
    font-size: 2rem;
}

.bg-primary-50 {
	background-color: var(--primary-50) !important;
}
.bg-white-50 {
	background-color: var(--white-50) !important;
}
.bg-light-50 {
	background-color: var(--light-50) !important;
}

