/**
 * Note: colors also have to be changed in the
 * UIContainer and Sentence components if necessary
 */
:root {
	/* https://coolors.co/ffc857-393e41-fffbe3-fff8e8-064789-cdcdcd */
	--primary: #FFC857;
	--primary-50: rgba(255, 200, 87, 0.8);
	--secondary: #064789;
	--black: #1d1905;
	--gray: #DCDCDC;
	--dark: #393E41;
	--dark-50: rgba(57, 62, 65, 0.8);
	--white: #FFFCF5;
	--white-50: rgba(255, 252, 245, 0.8);
	--light: #FFF8E8;
	--light-50: rgba(255, 248, 232, 0.8);
}

input {
	/**
	 * Prevents Firefox from applying a background
	 * color to the autocompleted fields
	 */
	filter: none;
}

a {
	color: var(--secondary);
}

button[disabled] {
	cursor: not-allowed;
}

.btn-primary,
.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
	color: var(--black);
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary.focus,
.btn-secondary:focus {
	color: var(--white);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn.disabled,
.btn:disabled {
	opacity: 1;
	background-color: var(--gray);
	color: var(--dark-50);
}

.text-primary {
	color: var(--primary) !important;
}
.text-secondary {
	color: var(--secondary) !important;
}
.text-gray {
	color: var(--gray) !important;
}
.text-dark {
	color: var(--dark) !important;
}
.text-black {
	color: var(--black) !important;
}
.text-muted {
	color: var(--dark) !important;
	opacity: 70%;
}
.figure-caption {
	color: var(--dark);
}

.navbar-brand small {
	font-size: 0.75em;
	color: var(--gray);
	padding-left: 0.2em;
}

.navbar-dark .navbar-nav .nav-link {
	color: var(--white);
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--primary-50);
}
.navbar-dark .navbar-nav .nav-link.active {
	color: var(--primary);
}

.navbar .dropdown-menu .dropdown-item.active,
.navbar .dropdown-menu .dropdown-item:focus {
	color: var(--dark);
	background: var(--primary);
}

.bg-black {
    background-color: var(--black) !important;
}
.bg-dark {
    background-color: var(--dark) !important;
}
.bg-gray {
    background-color: var(--gray) !important;
}
.bg-white {
    background-color: var(--white) !important;
}
.bg-light {
    background-color: var(--light) !important;
}
.bg-primary {
    background-color: var(--primary) !important;
}

.display-5 {
    font-size: 2rem;
}

.bg-dark-50 {
	background-color: var(--dark-50) !important;
}
.bg-primary-50 {
	background-color: var(--primary-50) !important;
}
.bg-white-50 {
	background-color: var(--white-50) !important;
}
.bg-light-50 {
	background-color: var(--light-50) !important;
}

.border-black {
	border-color: var(--black) !important;
}
.border-gray {
	border-color: var(--gray) !important;
}
.border-dark {
	border-color: var(--dark) !important;
}

.alert-primary {
    background-color: var(--primary);
	color: var(--dark);
}
.alert-light {
    background-color: var(--light);
	color: var(--dark);
}

.badge-primary {
	background-color: var(--primary);
	color: var(--black);
}
.badge-secondary {
	background-color: var(--secondary);
	color: var(--white);
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: var(--secondary);
	background-color: var(--secondary);
}
